html,body {
	margin:0;
	padding:0;
	height:100%;
	background-color:7289DA;
	
}
#wrapper {
	min-height:100%;
	position:relative;
}
#header {
}
#content {
	padding-bottom:100px;   /* Height of the footer element */
	font-family: BigNoodle;
}
#footer {
	width:100%;
	height:100px;
	position:absolute;
	bottom:0;
	left:0;
}
#iframe {
  text-align:center;
  width:100%;
}
